[mysqld]

datadir                   = /home/saverio/databases/mysql_data
innodb_log_group_home_dir = /dev/shm/mysql_logs

# Fun with InnoDB paths
# innodb_data_home_dir = /dev/shm/mysql_logs
# innodb_data_file_path = ibdata1:12M:autoextend

# For compatibility with MySQL 5.7
lc_messages_dir           = /home/saverio/local/mysql/share
character_set_server      = utf8mb4

general_log = ON
log_output = TABLE

[client]

user = root

[mysql]

database = temp
